    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    
    font-size: 100%;
    background: linear-gradient(68.15deg, rgb(248, 213, 213) 15%, rgb(255, 217, 222) 85%);
}

.main{
    display: flex;
    width: 60%;
    height: 100%;
    margin: auto;
    flex-wrap:wrap ;
    justify-content: center;
    align-content: center;
}

/*Barra de navegação*/

.cabecalho-barra-de-navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(249, 248, 244);

}


.barra-de-navegacao-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    position: relative;
    left:12%;
    
}

.barra-de-navegacao-menu-item {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 35px;
    align-items: center;
    text-decoration: underline;
    color: #fcfcfc;
}

#nome-barra-de-nav{  
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 70px;
    color: #faf6f6;
    padding: 1%;
    height: 2%;
    position: relative;
    left: 13%;
}   

#menu-nav ul{
    list-style: none;
    padding: 0%;
    background-color: rgb(243, 242, 240);
}

#menu-nav ul li{
    display: inline;
}

#menu-nav ul li a{
    color: #191414;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .4s;
}

#menu-nav ul li a:hover{
    background-color: rgb(255, 255, 255);
}

#menu-nav ul li:last-child a{
    float: right;
}

#link a{
    color:#040000;
    text-decoration: none;
    transition: .4s;
}

#link a:hover{
    color: #ed1c1c;
}
/*MAIN*/

.conteudo {
    border-top:2px solid rgb(0, 0, 0) ;
    margin-bottom: 80px solid rgb(0,0,0);
  }
.conteudo-principal{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 50px;
}

.conteudo-principal-pagina-tres{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}
.conteudo-escrito{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom:40px ;
    align-items: center;
    
}

.conteudo-videos{
    display:flex;
    flex-direction:row;
    gap: 15%;
    border-bottom: 40px;
    padding-top: 2%;
}

.conteudo-videos-dois{
    display: flex;
    flex-direction: column;
    border-bottom:20px ;
    gap:20%;
    padding: 2%;
}
.conteudo-podcast{
    display:flex;
    flex-direction:row;
    gap:5%;
    border-bottom: 40px;
    padding-top: 3%;
}

.conteudo-principal-escrito-titulo{  
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 70px;
    
}

.conteudo-principal-texto{
    font-weight: bold;
    color: #040000;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}

/*botão cv*/

.conteudo-principal-escrito-botao-cv{   
    background: gray;
    width: 240px;
    height: 120px;
    color: rgb(249, 249, 249);
    box-shadow: 4px 5px 4px #0f0d00;
    border:solid 1px gray;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    
}

.botao-1{
    background: gray;
    width: 100px;
    height: 80px;
    color: rgb(249, 249, 249);
    box-shadow: 4px 5px 4px #0f0d00;
    border:solid 1px gray;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.conteudo-principal-escrito-botao-cv:hover{
    background: rgb(199, 193, 193);
}

.botao-movimentacao-cv{
    position: relative;
    padding-top: 3%;
    padding-bottom:3%;

}

/*Main SECUNDARIO*/

.conteudo-secundario{
display: flex;
flex-direction: row;
align-items: center;
gap: 30 px;
margin-top: 10px;


}

.conteudo-secundario-pagina-um{
    display:flex ;
    flex-direction:column;
  
    gap: 5px;
    margin-top: 40x;
    display: inline;

}
.conteudo-secundario-segunda-pagina{
    display:flex ;
    flex-direction:column-reverse;
    align-items: center;
    gap: 100px
}
.conteudo-secundario-sub-titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bold;
    border-top: 0.4px;
    padding-top: 30px;
    position: relative;
    left:20%
}

.conteudo-secundario-sub-titulo-pag-tres{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bold;
    border-top: 0.4px;
    padding-top: 30px;
    
}

.conteudo-secundario-escrito-texto{
    font-weight: bold;
   
    color: #040000;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
/* IMAGENS*/

.lista-de-imagens-conteudo-principal{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 8px;
}

.lista-de-imagens-conteudo-secreto{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 8px;
}

#foto1{
    width: 500px;
    border: 8px;
    margin: 1%;   
}

.imagem-funcao{
    border-radius: 8%;
    width: 400px;
    transition: all 0.5s;
}

#img {
    width: 300px;
    border: 8px solid black;
    margin: 1%;   
    
    
}

#img-grande{
    width: 700px;
    border-radius: 5px solid black;
    margin: 2%;
}

.img-grade:hover{
    border-radius: 0%;
    transition: all 0.5s;
}

.imagem-quadrada{
    border-radius: 8%;
    width: 400px;
    transition: all 0.5s;
}

.imagem-quadrada:hover{
    border-radius: 0%;
    transition: all 0.5s;
}

.imagem-redonda{
    border-radius: 50%;
    width: 300px;
    transition: all 0.5s;
}

.imagem-redonda:hover{
    border-radius: 0%;
    transition: all 0.5s;

}

/* MIDIAS SOCIAIS*/

.icon{
    width: 100%;
}

.btn-midias-sociaias i{
    line-height: 90px;
    font-size: 45px;
    transition: 0.2s linear;
    position: relative;
    left: 25%;
}

.btn-midias-sociaias{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: gray;
    color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 5px 15px -5px rgb(36, 36, 36);
    overflow: hidden;
    transition: 0.5s;
    font-size: 10px;
    text-decoration: center;
    margin: 2%;
    right: 3%;
}

.btn-midias-sociaias:hover{
    transform: scale(1.4)rotate(26deg);
    background: #0f0d00;
}

.btn-midias-sociaias::before{
    content:'';
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn-midias-sociaias:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa{
    0%{
        left:-110%;
        top:90%;
    }
    50%{
        left:10%;
        top:-30%
    }
    100%{
        top: -10%;
        left:-10%;  
    }

}

.botao-movimentacao-midias{
    position: relative;
    padding-top: 3%;
    left:21%
}

.botao-movimentacao-midias-mcb{
    position: relative;
    left: 21%;
}

.botao-movimentacao-midias-and{
    position: relative;
    padding-top: 3%;
    left:21%
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 200px;
    margin: 0 auto;
}